azure-functions==1.21.0
azure-ai-formrecognizer==3.3.3
azure-ai-vision-imageanalysis==1.0.0
azure-cosmos==4.7.0
azure-search-documents==11.6.0
azure-identity==1.17.1
openai==1.40.0
azure-storage-blob==12.19.0
requests==2.31.0
azure-eventgrid==4.20.0
