functions/local.settings.json
.env
.venv/
__pycache__/
*.pyc
infra/*.parameters.json
azure_doc_intelligence_pipeline.svgfunctions/orchestrator/v-1__init__.py
backup_functionapp_june5th/
temp-reprocess/
v1-index.html
backup_azuredocintel
temp-reprocess